extends layout.pug

block js
  script(src="clientscripts/controller.js")
block content
  div
    h3 Insert Url you want to see presented
    input#url(type="text",value="http://localhost:8080/demoPage")
  div
    h3 Hit Connect to select a display and start presentation
    each btn in ["connect", "disconnect", "stop", "reconnect"]
      button(id=btn)= btn
    input#send(type="text", value="{}")
  div
    h3 Monitoring
    select#discoveryAllowance
      option(value=2) continous
      option(value=1) manual
      option(value=0) none
