html
  head
    title= title
    // CSS
    link(rel="stylesheet", href="style.css")

    // Utility Functions
    script(src="util.js")

    // Presentation API Shim
    script(src="presentation.js")

    // Browser-Level Interface to the Website-Developer
    script(src="presentationUserAgent.js")

    // For Socket IO
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js")

    // Website-Developer's Implementation accessing the Presentation API
    script(src="implementation.socketio.js")

    // Site-specific scripts
    block js
  body
    // Site-specific html
    block content