extends layout.pug

block js
  script.
    let UI = {
      disabledColor: "#999",
      enabledColor: "#000",
      connect: () => {
        $("#connect").style.color = UI.disabledColor;
        $("#disconnect").style.color = UI.enabledColor;
      },
      disconnect: () => {
        $("#connect").style.color = UI.enabledColor;
        $("#disconnect").style.color = UI.disabledColor;
      }
    }
    ready(() => {
      $("#join").addEventListener("click", () => {
        let p = navigator.presentation;        
        p.defaultRequest = new PresentationRequest($("#url").value);
        p.onconnectionavailable = e => {
          // Disconnect prior connections
          // #TODO https://w3c.github.io/presentation-api/#monitor-connection-s-state-and-exchange-data-example

          let conn = e.connection;
          conn.onconnect = () => {
            UI.connect();

            conn.onmessage = messageEvent => {
              console.log("received message:", messageEvent.data);
              conn.send("Message Pingpong");
            }
          }
          conn.onclose = () => {
            UI.disconnect();
          }
        }

        // Go
        p.defaultRequest.getAvailability().then(a => {
          console.log("availability: ", a);
          p.defaultRequest.start().catch(e => console.log(e));
        });
      });
    });
block content
  input#url(type="text",value="http://localhost/demoPage")
  button#join Join