extends layout.pug

block js
  script(src="implementation.js")
  script.
    ready(() => {
      $("#host").addEventListener("click", () => {
        window.navigator.presentation.receiver = new PresentationReceiver(demoDisplays[0], "demoPage", demoDisplays[0].id);
      });
    });
block content
  button#host Host