.timer {
  text-align: center;
  margin-top: 70px;
  font-size: 60px;
  color: blue;
}
.hint {
  text-align: center;
  font-size: 30px;
  padding: 60px;
}
.image {
  text-align: center;
  padding-top: 60px;
}
