html
  head
    title= title
    // Utility Functions
    script(src="util.js")

    // Presentation API Shim
    script(src="presentation.js")

    // Browser-Level Interface to the Website-Developer
    script(src="trusted.js")

    // Website-Developer's Implementation accessing the Presentation API
    script(src="implementation.js")

    // Site-specific scripts
    block js
    block css
  body
    // Site-specific html
    block content