<ion-view view-title="Game Controller">
  <ion-content class="padding" ng-init="initTimer()">
    <div class="timer">
    <p>{{ displayTime }}</p>
    </div>
<div class="card">
<div class="list">
  <a href="#" class="item item-icon-left" ng-click="startTimer()" ng-if="!hasStarted">
    <i class="icon ion-play"></i>
    Start Timer
  </a>
  <a href="#" class="item item-icon-left" ng-click="pauseTimer()" ng-if="hasStarted && runTimer">
    <i class="icon ion-pause"></i>
    Pause Timer
  </a>
  <a href="#" class="item item-icon-left" ng-click="play()" ng-if="hasStarted && !runTimer">
    <i class="icon ion-play"></i>
    Play Timer
  </a>
  <a href="#" class="item item-icon-left" ng-click="stopTimer()" ng-if="hasStarted">
    <i class="icon ion-stop"></i>
    Stop Timer
  </a>
  <a href="#" class="item item-icon-right" ng-click="startCast()" ng-if="isCastAvailable">
    <i class="icon ion-monitor"></i>
    Cast
  </a>
  <a href="#" class="item item-icon-right" ng-click="stopCast()" ng-if="isCasting">
    <i class="icon ion-monitor"></i>
    Stop Cast
  </a>
</div>
</div>
<div class="card">
<div class="item left">
<ul class="messages">
  <li ng-repeat="m in messages">{{m}}</li>
</ul>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input ng-disabled="!hasStarted" type="text" ng-model="message" placeholder="New Message" ng-keypress="messageKeyPress($event, message)">
    </label>
    <button ng-disabled="!hasStarted" ng-click="sendMessage(message)" class="button button-small">
      Send
    </button>
  </div>

</div>
<div class="item right">
  <span>image hints</span>
  <ul>
    <li ng-repeat="img in images"><button class="button" ng-click="sendImage(img)"><i class="icon icon-left ion-image"></i>
      {{ img.text }}</button></li>
  <ul>
</div>
</div>

  </ion-content>
</ion-view>
